$main-font: "Roboto", sans-serif;
$page-text: "Kaushan Script", cursive;
$footer-text: "Montserrat";
$color-hover: #fce38a;
$primary-color: #ffffff;
$color-text: #000;
$secondary-color: #555252;
$color-box: #95e1d3;
$color-bg-img: #fce38a;
$hover-color:#f38181;
$footer-color: #f6a1a1;
$button-bg-color: #95e1d3;